<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="SQLInfoDBConnectionString" providerName="System.Data.SqlClient"
          connectionString="Data Source=servername;Initial Catalog=databasename; Integrated Security=true" />
  </connectionStrings>
  <appSettings>
    <add key="Logfolder" value="\\WWWLOG\\W3SVC2\\" />
    <add key="OutputFolder" value="D:\\SCMIIS\\output" />
    <add key="MchineNames" value="" />
    <add key="ArchiveFolder" value="\E$\SCM\SCM\Portal\Services\" /> 
    <add key="KeyVault.Vault.Address" value="" />
    <add key="KeyVault.Authentication.ClientId" value="" />
    <add key="KeyVault.Authentication.Certificate.Thumbprint" value="" />
  </appSettings>
</configuration>